.header {
    display: grid;
    grid-gap: 20px;
    background-color: dimgrey;
}
.headline {
font-size: 24px;
    margin: 0;
    padding: 0;
}
.navBar img {
    width: 40px;
}
.header .navBar .item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

